<aside class="sidebar">
    <div class="sidebar-header">
        <h2>스마트 수거 관리</h2>
    </div>

    <div class="sidebar-body">
        <span class="menu-label">내용들</span>
        <ul class="nav-menu">
            <li><a href="main.html"><i class="fa-solid fa-chart-line"></i> 모니터링 현황</a></li>
            <li><a href="history.html"><i class="fa-solid fa-list-check"></i> 이전기록</a></li>
            <li><a href="dashboard.html"><i class="fa-solid fa-gear"></i> 대시보드</a></li>
        </ul>
    </div>

    <div class="sidebar-footer">
        <button id="modeToggleBtn" class="toggle-btn mode-collect">
            <i class="fa-solid fa-power-off"></i>
            <span id="modeText">수거모드</span>
        </button>
    </div>
</aside>